In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [19]:
cnx = mysql.connector.connect(user='root', password='1111',
                              host='127.0.0.1')
cursor = cnx.cursor()

In [20]:
cursor.execute("USE northwind")

In [4]:
cnx.database

'northwind'

In [7]:
cursor.execute ("""SELECT *
	                FROM customers;""")

In [9]:
cursor.fetchall()

[('ALFKI',
  'Alfreds Futterkiste',
  'Maria Anders',
  'Sales Representative',
  'Obere Str. 57',
  'Berlin',
  None,
  '12209',
  'Germany',
  '030-0074321',
  '030-0076545'),
 ('ANATR',
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Owner',
  'Avda. de la Constitucin 2222',
  'Mxico D.F.',
  None,
  '05021',
  'Mexico',
  '(5) 555-4729',
  '(5) 555-3745'),
 ('ANTON',
  'Antonio Moreno Taquera',
  'Antonio Moreno',
  'Owner',
  'Mataderos  2312',
  'Mxico D.F.',
  None,
  '05023',
  'Mexico',
  '(5) 555-3932',
  None),
 ('AROUT',
  'Around the Horn',
  'Thomas Hardy',
  'Sales Representative',
  '120 Hanover Sq.',
  'London',
  None,
  'WA1 1DP',
  'UK',
  '(171) 555-7788',
  '(171) 555-6750'),
 ('BERGS',
  'Berglunds snabbkp',
  'Christina Berglund',
  'Order Administrator',
  'Berguvsvgen  8',
  'Lule',
  None,
  'S-958 22',
  'Sweden',
  '0921-12 34 65',
  '0921-12 34 67'),
 ('BLAUS',
  'Blauer See Delikatessen',
  'Hanna Moos',
  'Sales Representative',
  'Forsterstr. 57',
  'Mannheim',
  None,
  '68306',
  'Germany',
  '0621-08460',
  '0621-08924'),
 ('BLONP',
  'Blondesddsl pre et fils',
  'Frdrique Citeaux',
  'Marketing Manager',
  '24, place Klber',
  'Strasbourg',
  None,
  '67000',
  'France',
  '88.60.15.31',
  '88.60.15.32'),
 ('BOLID',
  'Blido Comidas preparadas',
  'Martn Sommer',
  'Owner',
  'C/ Araquil, 67',
  'Madrid',
  None,
  '28023',
  'Spain',
  '(91) 555 22 82',
  '(91) 555 91 99'),
 ('BONAP',
  "Bon app'",
  'Laurence Lebihan',
  'Owner',
  '12, rue des Bouchers',
  'Marseille',
  None,
  '13008',
  'France',
  '91.24.45.40',
  '91.24.45.41'),
 ('BOTTM',
  'Bottom-Dollar Markets',
  'Elizabeth Lincoln',
  'Accounting Manager',
  '23 Tsawassen Blvd.',
  'Tsawassen',
  'BC',
  'T2F 8M4',
  'Canada',
  '(604) 555-4729',
  '(604) 555-3745'),
 ('BSBEV',
  "B's Beverages",
  'Victoria Ashworth',
  'Sales Representative',
  'Fauntleroy Circus',
  'London',
  None,
  'EC2 5NT',
  'UK',
  '(171) 555-1212',
  None),
 ('CACTU',
  'Cactus Comidas para llevar',
  'Patricio Simpson',
  'Sales Agent',
  'Cerrito 333',
  'Buenos Aires',
  None,
  '1010',
  'Argentina',
  '(1) 135-5555',
  '(1) 135-4892'),
 ('CENTC',
  'Centro comercial Moctezuma',
  'Francisco Chang',
  'Marketing Manager',
  'Sierras de Granada 9993',
  'Mxico D.F.',
  None,
  '05022',
  'Mexico',
  '(5) 555-3392',
  '(5) 555-7293'),
 ('CHOPS',
  'Chop-suey Chinese',
  'Yang Wang',
  'Owner',
  'Hauptstr. 29',
  'Bern',
  None,
  '3012',
  'Switzerland',
  '0452-076545',
  None),
 ('COMMI',
  'Comrcio Mineiro',
  'Pedro Afonso',
  'Sales Associate',
  'Av. dos Lusadas, 23',
  'Sao Paulo',
  'SP',
  '05432-043',
  'Brazil',
  '(11) 555-7647',
  None),
 ('CONSH',
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Sales Representative',
  'Berkeley Gardens 12  Brewery',
  'London',
  None,
  'WX1 6LT',
  'UK',
  '(171) 555-2282',
  '(171) 555-9199'),
 ('DRACD',
  'Drachenblut Delikatessen',
  'Sven Ottlieb',
  'Order Administrator',
  'Walserweg 21',
  'Aachen',
  None,
  '52066',
  'Germany',
  '0241-039123',
  '0241-059428'),
 ('DUMON',
  'Du monde entier',
  'Janine Labrune',
  'Owner',
  '67, rue des Cinquante Otages',
  'Nantes',
  None,
  '44000',
  'France',
  '40.67.88.88',
  '40.67.89.89'),
 ('EASTC',
  'Eastern Connection',
  'Ann Devon',
  'Sales Agent',
  '35 King George',
  'London',
  None,
  'WX3 6FW',
  'UK',
  '(171) 555-0297',
  '(171) 555-3373'),
 ('ERNSH',
  'Ernst Handel',
  'Roland Mendel',
  'Sales Manager',
  'Kirchgasse 6',
  'Graz',
  None,
  '8010',
  'Austria',
  '7675-3425',
  '7675-3426'),
 ('FAMIA',
  'Familia Arquibaldo',
  'Aria Cruz',
  'Marketing Assistant',
  'Rua Ors, 92',
  'Sao Paulo',
  'SP',
  '05442-030',
  'Brazil',
  '(11) 555-9857',
  None),
 ('FISSA',
  'FISSA Fabrica Inter. Salchichas S.A.',
  'Diego Roel',
  'Accounting Manager',
  'C/ Moralzarzal, 86',
  'Madrid',
  None,
  '28034',
  'Spain',
  '(91) 555 94 44',
  '(91) 555 55 93'),
 ('FOLIG',
  'Folies gourmandes',
  'Martine Ranc',
  'Assistant Sales Agent',
  '184, chausse de Tournai',
  'Lille',
  None,
  '59000',
  'France',
  '20.16.10.16',
  '20.16.10.17'),
 ('FOLKO',
  'Folk och f HB',
  'Maria Larsson',
  'Owner',
  'kergatan 24',
  'Brcke',
  None,
  'S-844 67',
  'Sweden',
  '0695-34 67 21',
  None),
 ('FRANK',
  'Frankenversand',
  'Peter Franken',
  'Marketing Manager',
  'Berliner Platz 43',
  'Mnchen',
  None,
  '80805',
  'Germany',
  '089-0877310',
  '089-0877451'),
 ('FRANR',
  'France restauration',
  'Carine Schmitt',
  'Marketing Manager',
  '54, rue Royale',
  'Nantes',
  None,
  '44000',
  'France',
  '40.32.21.21',
  '40.32.21.20'),
 ('FRANS',
  'Franchi S.p.A.',
  'Paolo Accorti',
  'Sales Representative',
  'Via Monte Bianco 34',
  'Torino',
  None,
  '10100',
  'Italy',
  '011-4988260',
  '011-4988261'),
 ('FURIB',
  'Furia Bacalhau e Frutos do Mar',
  'Lino Rodriguez',
  'Sales Manager',
  'Jardim das rosas n. 32',
  'Lisboa',
  None,
  '1675',
  'Portugal',
  '(1) 354-2534',
  '(1) 354-2535'),
 ('GALED',
  'Galera del gastrnomo',
  'Eduardo Saavedra',
  'Marketing Manager',
  'Rambla de Catalua, 23',
  'Barcelona',
  None,
  '08022',
  'Spain',
  '(93) 203 4560',
  '(93) 203 4561'),
 ('GODOS',
  'Godos Cocina Tpica',
  'Jos Pedro Freyre',
  'Sales Manager',
  'C/ Romero, 33',
  'Sevilla',
  None,
  '41101',
  'Spain',
  '(95) 555 82 82',
  None),
 ('GOURL',
  'Gourmet Lanchonetes',
  'Andr Fonseca',
  'Sales Associate',
  'Av. Brasil, 442',
  'Campinas',
  'SP',
  '04876-786',
  'Brazil',
  '(11) 555-9482',
  None),
 ('GREAL',
  'Great Lakes Food Market',
  'Howard Snyder',
  'Marketing Manager',
  '2732 Baker Blvd.',
  'Eugene',
  'OR',
  '97403',
  'USA',
  '(503) 555-7555',
  None),
 ('GROSR',
  'GROSELLA-Restaurante',
  'Manuel Pereira',
  'Owner',
  '5 Ave. Los Palos Grandes',
  'Caracas',
  'DF',
  '1081',
  'Venezuela',
  '(2) 283-2951',
  '(2) 283-3397'),
 ('HANAR',
  'Hanari Carnes',
  'Mario Pontes',
  'Accounting Manager',
  'Rua do Pao, 67',
  'Rio de Janeiro',
  'RJ',
  '05454-876',
  'Brazil',
  '(21) 555-0091',
  '(21) 555-8765'),
 ('HILAA',
  'HILARION-Abastos',
  'Carlos Hernndez',
  'Sales Representative',
  'Carrera 22 con Ave. Carlos Soublette #8-35',
  'San Cristbal',
  'Tchira',
  '5022',
  'Venezuela',
  '(5) 555-1340',
  '(5) 555-1948'),
 ('HUNGC',
  'Hungry Coyote Import Store',
  'Yoshi Latimer',
  'Sales Representative',
  'City Center Plaza 516 Main St.',
  'Elgin',
  'OR',
  '97827',
  'USA',
  '(503) 555-6874',
  '(503) 555-2376'),
 ('HUNGO',
  'Hungry Owl All-Night Grocers',
  'Patricia McKenna',
  'Sales Associate',
  '8 Johnstown Road',
  'Cork',
  'Co. Cork',
  None,
  'Ireland',
  '2967 542',
  '2967 3333'),
 ('ISLAT',
  'Island Trading',
  'Helen Bennett',
  'Marketing Manager',
  'Garden House Crowther Way',
  'Cowes',
  'Isle of Wight',
  'PO31 7PJ',
  'UK',
  '(198) 555-8888',
  None),
 ('KOENE',
  'Kniglich Essen',
  'Philip Cramer',
  'Sales Associate',
  'Maubelstr. 90',
  'Brandenburg',
  None,
  '14776',
  'Germany',
  '0555-09876',
  None),
 ('LACOR',
  "La corne d'abondance",
  'Daniel Tonini',
  'Sales Representative',
  "67, avenue de l'Europe",
  'Versailles',
  None,
  '78000',
  'France',
  '30.59.84.10',
  '30.59.85.11'),
 ('LAMAI',
  "La maison d'Asie",
  'Annette Roulet',
  'Sales Manager',
  '1 rue Alsace-Lorraine',
  'Toulouse',
  None,
  '31000',
  'France',
  '61.77.61.10',
  '61.77.61.11'),
 ('LAUGB',
  'Laughing Bacchus Wine Cellars',
  'Yoshi Tannamuri',
  'Marketing Assistant',
  '1900 Oak St.',
  'Vancouver',
  'BC',
  'V3F 2K1',
  'Canada',
  '(604) 555-3392',
  '(604) 555-7293'),
 ('LAZYK',
  'Lazy K Kountry Store',
  'John Steel',
  'Marketing Manager',
  '12 Orchestra Terrace',
  'Walla Walla',
  'WA',
  '99362',
  'USA',
  '(509) 555-7969',
  '(509) 555-6221'),
 ('LEHMS',
  'Lehmanns Marktstand',
  'Renate Messner',
  'Sales Representative',
  'Magazinweg 7',
  'Frankfurt a.M.',
  None,
  '60528',
  'Germany',
  '069-0245984',
  '069-0245874'),
 ('LETSS',
  "Let's Stop N Shop",
  'Jaime Yorres',
  'Owner',
  '87 Polk St. Suite 5',
  'San Francisco',
  'CA',
  '94117',
  'USA',
  '(415) 555-5938',
  None),
 ('LILAS',
  'LILA-Supermercado',
  'Carlos Gonzlez',
  'Accounting Manager',
  'Carrera 52 con Ave. Bolvar #65-98 Llano Largo',
  'Barquisimeto',
  'Lara',
  '3508',
  'Venezuela',
  '(9) 331-6954',
  '(9) 331-7256'),
 ('LINOD',
  'LINO-Delicateses',
  'Felipe Izquierdo',
  'Owner',
  'Ave. 5 de Mayo Porlamar',
  'I. de Margarita',
  'Nueva Esparta',
  '4980',
  'Venezuela',
  '(8) 34-56-12',
  '(8) 34-93-93'),
 ('LONEP',
  'Lonesome Pine Restaurant',
  'Fran Wilson',
  'Sales Manager',
  '89 Chiaroscuro Rd.',
  'Portland',
  'OR',
  '97219',
  'USA',
  '(503) 555-9573',
  '(503) 555-9646'),
 ('MAGAA',
  'Magazzini Alimentari Riuniti',
  'Giovanni Rovelli',
  'Marketing Manager',
  'Via Ludovico il Moro 22',
  'Bergamo',
  None,
  '24100',
  'Italy',
  '035-640230',
  '035-640231'),
 ('MAISD',
  'Maison Dewey',
  'Catherine Dewey',
  'Sales Agent',
  'Rue Joseph-Bens 532',
  'Bruxelles',
  None,
  'B-1180',
  'Belgium',
  '(02) 201 24 67',
  '(02) 201 24 68'),
 ('MEREP',
  'Mre Paillarde',
  'Jean Fresnire',
  'Marketing Assistant',
  '43 rue St. Laurent',
  'Montral',
  'Qubec',
  'H1J 1C3',
  'Canada',
  '(514) 555-8054',
  '(514) 555-8055'),
 ('MORGK',
  'Morgenstern Gesundkost',
  'Alexander Feuer',
  'Marketing Assistant',
  'Heerstr. 22',
  'Leipzig',
  None,
  '04179',
  'Germany',
  '0342-023176',
  None),
 ('NORTS',
  'North/South',
  'Simon Crowther',
  'Sales Associate',
  'South House 300 Queensbridge',
  'London',
  None,
  'SW7 1RZ',
  'UK',
  '(171) 555-7733',
  '(171) 555-2530'),
 ('OCEAN',
  'Ocano Atlntico Ltda.',
  'Yvonne Moncada',
  'Sales Agent',
  'Ing. Gustavo Moncada 8585 Piso 20-A',
  'Buenos Aires',
  None,
  '1010',
  'Argentina',
  '(1) 135-5333',
  '(1) 135-5535'),
 ('OLDWO',
  'Old World Delicatessen',
  'Rene Phillips',
  'Sales Representative',
  '2743 Bering St.',
  'Anchorage',
  'AK',
  '99508',
  'USA',
  '(907) 555-7584',
  '(907) 555-2880'),
 ('OTTIK',
  'Ottilies Kseladen',
  'Henriette Pfalzheim',
  'Owner',
  'Mehrheimerstr. 369',
  'Kln',
  None,
  '50739',
  'Germany',
  '0221-0644327',
  '0221-0765721'),
 ('PARIS',
  'Paris spcialits',
  'Marie Bertrand',
  'Owner',
  '265, boulevard Charonne',
  'Paris',
  None,
  '75012',
  'France',
  '(1) 42.34.22.66',
  '(1) 42.34.22.77'),
 ('PERIC',
  'Pericles Comidas clsicas',
  'Guillermo Fernndez',
  'Sales Representative',
  'Calle Dr. Jorge Cash 321',
  'Mxico D.F.',
  None,
  '05033',
  'Mexico',
  '(5) 552-3745',
  '(5) 545-3745'),
 ('PICCO',
  'Piccolo und mehr',
  'Georg Pipps',
  'Sales Manager',
  'Geislweg 14',
  'Salzburg',
  None,
  '5020',
  'Austria',
  '6562-9722',
  '6562-9723'),
 ('PRINI',
  'Princesa Isabel Vinhos',
  'Isabel de Castro',
  'Sales Representative',
  'Estrada da sade n. 58',
  'Lisboa',
  None,
  '1756',
  'Portugal',
  '(1) 356-5634',
  None),
 ('QUEDE',
  'Que Delcia',
  'Bernardo Batista',
  'Accounting Manager',
  'Rua da Panificadora, 12',
  'Rio de Janeiro',
  'RJ',
  '02389-673',
  'Brazil',
  '(21) 555-4252',
  '(21) 555-4545'),
 ('QUEEN',
  'Queen Cozinha',
  'Lcia Carvalho',
  'Marketing Assistant',
  'Alameda dos Canrios, 891',
  'Sao Paulo',
  'SP',
  '05487-020',
  'Brazil',
  '(11) 555-1189',
  None),
 ('QUICK',
  'QUICK-Stop',
  'Horst Kloss',
  'Accounting Manager',
  'Taucherstrae 10',
  'Cunewalde',
  None,
  '01307',
  'Germany',
  '0372-035188',
  None),
 ('RANCH',
  'Rancho grande',
  'Sergio Gutirrez',
  'Sales Representative',
  'Av. del Libertador 900',
  'Buenos Aires',
  None,
  '1010',
  'Argentina',
  '(1) 123-5555',
  '(1) 123-5556'),
 ('RATTC',
  'Rattlesnake Canyon Grocery',
  'Paula Wilson',
  'Assistant Sales Representative',
  '2817 Milton Dr.',
  'Albuquerque',
  'NM',
  '87110',
  'USA',
  '(505) 555-5939',
  '(505) 555-3620'),
 ('REGGC',
  'Reggiani Caseifici',
  'Maurizio Moroni',
  'Sales Associate',
  'Strada Provinciale 124',
  'Reggio Emilia',
  None,
  '42100',
  'Italy',
  '0522-556721',
  '0522-556722'),
 ('RICAR',
  'Ricardo Adocicados',
  'Janete Limeira',
  'Assistant Sales Agent',
  'Av. Copacabana, 267',
  'Rio de Janeiro',
  'RJ',
  '02389-890',
  'Brazil',
  '(21) 555-3412',
  None),
 ('RICSU',
  'Richter Supermarkt',
  'Michael Holz',
  'Sales Manager',
  'Grenzacherweg 237',
  'Genve',
  None,
  '1203',
  'Switzerland',
  '0897-034214',
  None),
 ('ROMEY',
  'Romero y tomillo',
  'Alejandra Camino',
  'Accounting Manager',
  'Gran Va, 1',
  'Madrid',
  None,
  '28001',
  'Spain',
  '(91) 745 6200',
  '(91) 745 6210'),
 ('SANTG',
  'Sant Gourmet',
  'Jonas Bergulfsen',
  'Owner',
  'Erling Skakkes gate 78',
  'Stavern',
  None,
  '4110',
  'Norway',
  '07-98 92 35',
  '07-98 92 47'),
 ('SAVEA',
  'Save-a-lot Markets',
  'Jose Pavarotti',
  'Sales Representative',
  '187 Suffolk Ln.',
  'Boise',
  'ID',
  '83720',
  'USA',
  '(208) 555-8097',
  None),
 ('SEVES',
  'Seven Seas Imports',
  'Hari Kumar',
  'Sales Manager',
  '90 Wadhurst Rd.',
  'London',
  None,
  'OX15 4NB',
  'UK',
  '(171) 555-1717',
  '(171) 555-5646'),
 ('SIMOB',
  'Simons bistro',
  'Jytte Petersen',
  'Owner',
  'Vinbltet 34',
  'Kobenhavn',
  None,
  '1734',
  'Denmark',
  '31 12 34 56',
  '31 13 35 57'),
 ('SPECD',
  'Spcialits du monde',
  'Dominique Perrier',
  'Marketing Manager',
  '25, rue Lauriston',
  'Paris',
  None,
  '75016',
  'France',
  '(1) 47.55.60.10',
  '(1) 47.55.60.20'),
 ('SPLIR',
  'Split Rail Beer & Ale',
  'Art Braunschweiger',
  'Sales Manager',
  'P.O. Box 555',
  'Lander',
  'WY',
  '82520',
  'USA',
  '(307) 555-4680',
  '(307) 555-6525'),
 ('SUPRD',
  'Suprmes dlices',
  'Pascale Cartrain',
  'Accounting Manager',
  'Boulevard Tirou, 255',
  'Charleroi',
  None,
  'B-6000',
  'Belgium',
  '(071) 23 67 22 20',
  '(071) 23 67 22 21'),
 ('THEBI',
  'The Big Cheese',
  'Liz Nixon',
  'Marketing Manager',
  '89 Jefferson Way Suite 2',
  'Portland',
  'OR',
  '97201',
  'USA',
  '(503) 555-3612',
  None),
 ('THECR',
  'The Cracker Box',
  'Liu Wong',
  'Marketing Assistant',
  '55 Grizzly Peak Rd.',
  'Butte',
  'MT',
  '59801',
  'USA',
  '(406) 555-5834',
  '(406) 555-8083'),
 ('TOMSP',
  'Toms Spezialitten',
  'Karin Josephs',
  'Marketing Manager',
  'Luisenstr. 48',
  'Mnster',
  None,
  '44087',
  'Germany',
  '0251-031259',
  '0251-035695'),
 ('TORTU',
  'Tortuga Restaurante',
  'Miguel Angel Paolino',
  'Owner',
  'Avda. Azteca 123',
  'Mxico D.F.',
  None,
  '05033',
  'Mexico',
  '(5) 555-2933',
  None),
 ('TRADH',
  'Tradio Hipermercados',
  'Anabela Domingues',
  'Sales Representative',
  'Av. Ins de Castro, 414',
  'Sao Paulo',
  'SP',
  '05634-030',
  'Brazil',
  '(11) 555-2167',
  '(11) 555-2168'),
 ('TRAIH',
  "Trail's Head Gourmet Provisioners",
  'Helvetius Nagy',
  'Sales Associate',
  '722 DaVinci Blvd.',
  'Kirkland',
  'WA',
  '98034',
  'USA',
  '(206) 555-8257',
  '(206) 555-2174'),
 ('VAFFE',
  'Vaffeljernet',
  'Palle Ibsen',
  'Sales Manager',
  'Smagsloget 45',
  'rhus',
  None,
  '8200',
  'Denmark',
  '86 21 32 43',
  '86 22 33 44'),
 ('Val2 ', 'IT', 'Val2', 'IT', None, None, None, None, None, None, None),
 ('VALON', 'IT', 'Valon Hoti', 'IT', None, None, None, None, None, None, None),
 ('VICTE',
  'Victuailles en stock',
  'Mary Saveley',
  'Sales Agent',
  '2, rue du Commerce',
  'Lyon',
  None,
  '69004',
  'France',
  '78.32.54.86',
  '78.32.54.87'),
 ('VINET',
  'Vins et alcools Chevalier',
  'Paul Henriot',
  'Accounting Manager',
  "59 rue de l'Abbaye",
  'Reims',
  None,
  '51100',
  'France',
  '26.47.15.10',
  '26.47.15.11'),
 ('WANDK',
  'Die Wandernde Kuh',
  'Rita Mller',
  'Sales Representative',
  'Adenauerallee 900',
  'Stuttgart',
  None,
  '70563',
  'Germany',
  '0711-020361',
  '0711-035428'),
 ('WARTH',
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Accounting Manager',
  'Torikatu 38',
  'Oulu',
  None,
  '90110',
  'Finland',
  '981-443655',
  '981-443655'),
 ('WELLI',
  'Wellington Importadora',
  'Paula Parente',
  'Sales Manager',
  'Rua do Mercado, 12',
  'Resende',
  'SP',
  '08737-363',
  'Brazil',
  '(14) 555-8122',
  None),
 ('WHITC',
  'White Clover Markets',
  'Karl Jablonski',
  'Owner',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  'WA',
  '98128',
  'USA',
  '(206) 555-4112',
  '(206) 555-4115'),
 ('WILMK',
  'Wilman Kala',
  'Matti Karttunen',
  'Owner/Marketing Assistant',
  'Keskuskatu 45',
  'Helsinki',
  None,
  '21240',
  'Finland',
  '90-224 8858',
  '90-224 8858'),
 ('WOLZA',
  'Wolski  Zajazd',
  'Zbyszek Piestrzeniewicz',
  'Owner',
  'ul. Filtrowa 68',
  'Warszawa',
  None,
  '01-012',
  'Poland',
  '(26) 642-7012',
  '(26) 642-7012')]

In [10]:
cursor.execute ("""SELECT *
	                FROM customers
                     WHERE City = "London" or City = "Seattle";""")

In [21]:
cursor.execute("""SELECT *
	                FROM customers
                     WHERE City = "London" or City = "Seattle";""")

OJO!!ðŸ§¨ðŸ§¨ðŸŽ‡ Si ponemos "cursor.fetchall()" debes de ejecutar nuevamente la primera celda dado que ya "ha recogido las cosas del maletero"-

In [22]:
customers_LS = cursor.fetchall()

In [23]:
customers_LS

[('AROUT',
  'Around the Horn',
  'Thomas Hardy',
  'Sales Representative',
  '120 Hanover Sq.',
  'London',
  None,
  'WA1 1DP',
  'UK',
  '(171) 555-7788',
  '(171) 555-6750'),
 ('BSBEV',
  "B's Beverages",
  'Victoria Ashworth',
  'Sales Representative',
  'Fauntleroy Circus',
  'London',
  None,
  'EC2 5NT',
  'UK',
  '(171) 555-1212',
  None),
 ('CONSH',
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Sales Representative',
  'Berkeley Gardens 12  Brewery',
  'London',
  None,
  'WX1 6LT',
  'UK',
  '(171) 555-2282',
  '(171) 555-9199'),
 ('EASTC',
  'Eastern Connection',
  'Ann Devon',
  'Sales Agent',
  '35 King George',
  'London',
  None,
  'WX3 6FW',
  'UK',
  '(171) 555-0297',
  '(171) 555-3373'),
 ('NORTS',
  'North/South',
  'Simon Crowther',
  'Sales Associate',
  'South House 300 Queensbridge',
  'London',
  None,
  'SW7 1RZ',
  'UK',
  '(171) 555-7733',
  '(171) 555-2530'),
 ('SEVES',
  'Seven Seas Imports',
  'Hari Kumar',
  'Sales Manager',
  '90 Wadhurst Rd.',
  'London',
  None,
  'OX15 4NB',
  'UK',
  '(171) 555-1717',
  '(171) 555-5646'),
 ('WHITC',
  'White Clover Markets',
  'Karl Jablonski',
  'Owner',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  'WA',
  '98128',
  'USA',
  '(206) 555-4112',
  '(206) 555-4115')]

In [25]:
df = pd.DataFrame(customers_LS, columns = ["CustomerID", "CompanyName", "ContactName", "ContactTitle", "Address", "City", "Region", "PostalCode", "Country", "Phone", "Fax"])

In [26]:
print(df)

  CustomerID            CompanyName        ContactName          ContactTitle  \
0      AROUT        Around the Horn       Thomas Hardy  Sales Representative
1      BSBEV          B's Beverages  Victoria Ashworth  Sales Representative
2      CONSH  Consolidated Holdings    Elizabeth Brown  Sales Representative
3      EASTC     Eastern Connection          Ann Devon           Sales Agent
4      NORTS            North/South     Simon Crowther       Sales Associate
5      SEVES     Seven Seas Imports         Hari Kumar         Sales Manager
6      WHITC   White Clover Markets     Karl Jablonski                 Owner

                        Address     City Region PostalCode Country  \
0               120 Hanover Sq.   London   None    WA1 1DP      UK
1             Fauntleroy Circus   London   None    EC2 5NT      UK
2  Berkeley Gardens 12  Brewery   London   None    WX1 6LT      UK
3                35 King George   London   None    WX3 6FW      UK
4  South House 300 Queensbridge   London   None    SW7 1RZ      UK
5               90 Wadhurst Rd.   London   None   OX15 4NB      UK
6   305 - 14th Ave. S. Suite 3B  Seattle     WA      98128     USA

            Phone             Fax
0  (171) 555-7788  (171) 555-6750
1  (171) 555-1212            None
2  (171) 555-2282  (171) 555-9199
3  (171) 555-0297  (171) 555-3373
4  (171) 555-7733  (171) 555-2530
5  (171) 555-1717  (171) 555-5646
6  (206) 555-4112  (206) 555-4115

In [ ]:
df.head(10) # los primeros 10 (muestra solo 7 porque no hay mÃ¡s en la lista)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
4,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
5,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,None,OX15 4NB,UK,(171) 555-1717,(171) 555-5646
6,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

In [ ]:
df.tail(10) # los Ãºltimos 10 (muestra solo 7 porque no hay mÃ¡s en la lista)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
4,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
5,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,None,OX15 4NB,UK,(171) 555-1717,(171) 555-5646
6,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

In [ ]:
df.sample(5) #muestra de forma aleatoria

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
4,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
5,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,None,OX15 4NB,UK,(171) 555-1717,(171) 555-5646
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199

In [30]:
hay_nulos = df.isnull()

In [31]:
print(hay_nulos)

   CustomerID  CompanyName  ContactName  ContactTitle  Address   City  Region  \
0       False        False        False         False    False  False    True
1       False        False        False         False    False  False    True
2       False        False        False         False    False  False    True
3       False        False        False         False    False  False    True
4       False        False        False         False    False  False    True
5       False        False        False         False    False  False    True
6       False        False        False         False    False  False   False

   PostalCode  Country  Phone    Fax
0       False    False  False  False
1       False    False  False   True
2       False    False  False  False
3       False    False  False  False
4       False    False  False  False
5       False    False  False  False
6       False    False  False  False

In [ ]:
nulos_por_columna = df.isnull().sum()  # ayuda de Chaty 
print(nulos_por_columna)

CustomerID      0
CompanyName     0
ContactName     0
ContactTitle    0
Address         0
City            0
Region          6
PostalCode      0
Country         0
Phone           0
Fax             1
dtype: int64

In [ ]:
nulos_por_columna = df.isnull().len()  # len no es un atributo de DF 
print(nulos_por_columna)

AttributeError: 'DataFrame' object has no attribute 'len'

In [ ]:
df.describe(include="object")  #no entiendo muy bien

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
count,7,7,7,7,7,7,1,7,7,7,6
unique,7,7,7,5,7,2,1,7,2,7,6
top,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,WA,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
freq,1,1,1,3,1,6,1,1,6,1,1

In [35]:
print(df.columns)

Index(['CustomerID', 'CompanyName', 'ContactName', 'ContactTitle', 'Address',
       'City', 'Region', 'PostalCode', 'Country', 'Phone', 'Fax'],
      dtype='object')

ðŸ“•ðŸ“—ðŸ“˜ðŸ“– SINTAXIS DE LOS DATAFREME !! ðŸ“–ðŸ“˜ðŸ“—ðŸ“•


CreaciÃ³n e InformaciÃ³n	

Importar la librerÃ­a	                     import pandas as pd	      >>Importa Pandas, usualmente con el alias pd.
Crear DataFrame	                             df = pd.DataFrame(datos)	  >>Crea un DataFrame a partir de un diccionario o una lista de listas.
Cargar desde CSV	                         df = pd.read_csv('archivo.csv')	 >>Carga datos desde un archivo CSV.
Mostrar las primeras N filas	             df.head(n=5)	              >>Muestra las primeras 5 filas (o n filas).
Mostrar informaciÃ³n general	                 df.info()	                  >>Muestra tipos de datos, conteo de no-nulos y uso de memoria.
EstadÃ­sticas descriptivas	                 df.describe()	              >> Muestra el resumen estadÃ­stico de las columnas numÃ©ricas.
Nombres de columnas	                         df.columns	                  >>Devuelve el objeto Index con los nombres de las columnas.

SelecciÃ³n de Datos	

Seleccionar una columna	                     df['Nombre_Columna']	Devuelve una Serie de Pandas.
Seleccionar mÃºltiples columnas	             df[['Col_A', 'Col_B']]	Devuelve un DataFrame.
Seleccionar por Ã­ndice (filas/columnas)    	df.iloc[fila, columna]	SelecciÃ³n por posiciÃ³n entera (ej: df.iloc[0:5, [1, 3]]).
Seleccionar por etiqueta	                df.loc[etiqueta_fila, 'Etiqueta_Columna']	SelecciÃ³n por etiqueta de fila y nombre de columna.

Filtrado	

Filtrar filas por condiciÃ³n	                df[df['Col_A'] > 10]	Devuelve las filas donde la condiciÃ³n es Verdadera.
Filtrar con mÃºltiples condiciones	        df[(df['Col_A'] > 10) & (df['Col_B'] == 'pop')]	Uso de & (AND) u `

ManipulaciÃ³n

AÃ±adir nueva columna	                   df['Nueva_Col'] = valores	Asigna una lista o Serie de valores a una nueva columna.
Eliminar columnas/filas	                   df.drop(columns=['Col_A'])	Elimina columnas (se usa axis=1 para columnas, axis=0 para filas).
Agrupar y agregar	                       df.groupby('Col_A')['Col_B'].mean()	Agrupa por 'Col_A' y calcula la media de 'Col_B'.
Ordenar valores	                           df.sort_values(by='Col_A', ascending=False)	Ordena el DataFrame por la columna especificada.

Valores Nulos (NaN)	

Identificar nulos	                       df.isnull().sum()	Cuenta el total de valores nulos por columna.
Eliminar filas con nulos	               df.dropna()	Elimina filas que contienen al menos un valor nulo.
Rellenar nulos	                           df.fillna(valor)	Rellena los valores nulos con un valor especÃ­fico (ej: 0 o la media).